<div class="flex justify-center items-center p-4">
    <form class="w-full max-w-sm" (ngSubmit)="onSubmit()">
        <h2 class="text-center text-2xl mb-4">Sign Up</h2>
        @if (error) {
        <div class="bg-red-100 border-l-4 border-red-500 text-red-700 p-4 mb-4" role="alert">
            <p>{{ error }}</p>
        </div>
        }
        <div class="mb-4">
            <label for="email" class="block text-sm font-bold mb-2">Email</label>
            <input id="email" type="text" class="w-full px-3 py-2 border rounded" [(ngModel)]="email" name="email">
        </div>
        <div class="mb-4">
            <label for="password" class="block text-sm font-bold mb-2">Password</label>
            <input id="password" type="password" class="w-full px-3 py-2 border rounded" [(ngModel)]="password"
                name="password">
        </div>
        <div class="flex items-center justify-between">
            <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded">Sign Up</button>
            <a routerLink="/login" class="text-blue-500">Login</a>
        </div>
    </form>
</div>