<nav class="bg-gray-800 p-4">
    <div class="container mx-auto flex justify-between items-center">
        <div class="text-white text-lg">
            <a routerLink="/">Expense Tracker</a>
        </div>
        <div>
            @if (isLoggedIn()) {
                <a routerLink="/add-expense" class="text-white mr-4">Add Expense</a>
            }
            @if (!isLoggedIn()) {
            <a routerLink="/login" class="text-white mr-4">Login</a>
            }
            @if (isLoggedIn()) {
            <button (click)="logout()" class="text-white">Logout</button>
            }
        </div>
    </div>
</nav>