/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

/* src/app/shared/navbar/navbar.component.css */
nav {
    background-color: #1a202c;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 15px;
}

nav a:hover {
    text-decoration: underline;
}

nav button {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
}

nav button:hover {
    text-decoration: underline;
}

/* src/app/shared/footer/footer.component.css */
footer {
    background-color: #1a202c;
    padding: 1rem;
    text-align: center;
    color: #fff;
}

footer p {
    margin: 0;
}